---
import Header from "./Header.astro";
import LeftSidebar from "./LeftSidebar/index";
import RightSidebar from "./RightSidebar/index";
import PageContent from "./PageContent.astro";
import "../../styles/theme.css";
import "../../styles/index.css";

const currentPage = Astro.url.pathname;
const { frontmatter, headings } = Astro.props;
const content = await Astro.glob("../../pages/**/*.(md|mdx)");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {frontmatter.title}
    </title>
    <style>
      .layout {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        overflow-x: hidden;
      }

      #grid-left {
        background-color: #fff;
        max-width: 300px;
        min-width: 300px;
        width: 100%;
      }

      #grid-main {
        padding: 40px;
        display: flex;
        flex-direction: row;
        height: 100%;
        flex-grow: 1;
      }

      #grid-right {
        display: flex;
        width: auto;
        flex-grow: 1;
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <style is:global>
      .layout > * {
        height: 100%;
        box-sizing: border-box;
      }
      * {
        font-family: "Noto Sans";
      }
    </style>
    <script is:inline>
      window.addEventListener("DOMContentLoaded", () => {
        var target = document.querySelector('[aria-current="page"]');
        if (target && target.offsetTop > window.innerHeight - 100) {
          document.querySelector(".nav").scrollTop = target.offsetTop;
        }
      });
    </script>
  </head>
  <body>
    <aside id="grid-left" title="Site Navigation">
      <LeftSidebar currentPage={currentPage} content={content} />
    </aside>
    <main class="layout">
      <!-- <Header /> -->
      <div id="grid-main">
        <PageContent frontmatter={frontmatter} headings={headings}>
          <slot />
        </PageContent>
        <aside id="grid-right" title="Table of Contents">
          <RightSidebar headings={headings} />
        </aside>
      </div>
    </main>
  </body>
</html>
